@import "@app/colors";
@import "@app/mixins";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

.home {
	padding: 0 20px;
	margin: 0 20px;
	z-index: 1;
	width: 100vw;

	&__tranding-wrapper {
		position: relative;
		top: -80px;
	}
}
