<div class="search">
	<img
		class="search__icon"
		[class.active]="focusState === 'active'"
		src="assets/icons/search.svg"
	/>
	<div class="search__input-wrapper">
		<input
			class="search__input"
			placeholder="Search for games..."
			[@focusWidth]="focusState"
			(focus)="setFocusState('active')"
			(blur)="setFocusState('inactive')"
			(input)="onTextChange($event)"
			[value]="searchText"
		/>
	</div>

	<img
		(click)="toggleFiltersModal()"
		[class.active]="isFiltersModalOpened"
		class="search__icon search__filter-icon"
		src="assets/icons/filter.svg"
	/>
</div>
